* {
    padding: 10px;
}

body {
    background-color: aquamarine;
    padding: o;
    margin: 30px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 29px;
    font-style: italic;
}
header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-family: serif;
}

h1 {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: blueviolet;
}

.Paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

#logo {
    color:white;
    font-size: 30px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    font-family: sans-serif;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section {
    background-color: rgb(77, 77, 133);
}

.section1 {
    background-color: aquamarine;
}

.Paragraph1 {
    width: 590px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image1 {
    width: 600px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.section2 {
    background-color: violet;
}

h3 {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: violet
}

.list1 {
    font-size: 24px;
    font-weight: bolder;
}

.spotify {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.section3 {
    background-color: black;
    color: white;
    
}

h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

.Paragraph2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section4 {
    background-color: black;
    color: white;
}

h5 {
    font-weight: bolder;
    font-size: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.Paragraph3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



