* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

#navlist {
    color: white;
}

.Logo {
    width: 131px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.section1 {
    background-color: #0c67d3;
    height: 400px;
}

.container2 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: white;
    font-size: 40px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.paragraph1 {
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.section1div1{
    padding: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
}

.section1div1getstarted {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
}

.section1div1seeotherplans {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid;
    border-radius: 40px;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
}

.section1div1span1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: smaller;
}

.section1div1a1 {
    text-decoration: underline;
}

.section2 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;

}

h2 {
    font-weight: bold;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-size: 40px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: ;
}

h3 {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.section2 > h3 > p {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.section2h31 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.section2h33 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section2img {
    height: 140px;
    width: 140px;
    margin: 50px;
}
